<% include ./partials/header.ejs %>
  
  <div class="w-full h-screen bg-zinc-300 flex items-center justify-center" >
  
    <div class="w-72 h-[70vh] bg-zinc-100 px-4 py-5 rounded-md">

      <h1 class="text-3xl leading-none">Create account</h1>
      <form action="">
        <input class="block w-full px-3 py-2 my-4 mt-10"type="text" name="username" placeholder="username">
        <input class="block w-full px-3 py-2 my-4"type="email" name="email" placeholder="email">
        <input class="block w-full px-3 py-2 my-4"type="number" name="number" placeholder="contact">
        <input class="block w-full px-3 py-2 "type="password" name="password" placeholder="password">
        <input class="block w-full px-3 py-2  bg-red-600 text-white rounded-full my-7"type="submit" value="Create account">
      
        <a class=" font-semibold text- inline-block text-center w-full" href="/index">Already have an account?</a>
        
        <p>

        </p>
      
      </form>

    </div>

  </div>
<% include ./partials/footer.ejs %>